.portfolio-container{
    overflow: initial;
}

.portfolio-content{
    display: flex !important;
    align-items: center;
    padding: 1.5rem 2rem;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 2.5rem;
    margin-bottom: var(--mb-3);
}


.portfolio-img{
    width: 480px;
    max-width: 50%;
    border-radius: 1rem;
    margin-right: 2.5rem;
    margin-left: 1.5rem;
}

.portfolio-title{
    font-size: var(--h3-font-size) !important;
    margin-bottom: var(--mb-0-5);
    
}

.portfolio-description{
    margin-bottom: var(--mb-0-75);
}

.portfolio-button:hover{
    transform: translateX(.25rem);
    cursor: pointer;
}

.mySwiper{
    height: 600px;
}

.portfolio-content {
    text-align: center;
    background: var(--container-color);
    padding: 20px;
}

.portfolio-data {
    display: inline-grid;
    flex-direction: row;
    justify-items: center;
    margin-right: 1.5rem;
}

.portfolio-modal{
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    border-radius: 2.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: var(--z-modal);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.portfolio-modal-content{
    width: 500px;
    height: 95%;
    position: relative;
    background-color: var(--container-color);
    padding: 4.5rem 2.5rem 2.5rem;
    border-radius: 1.5rem;
    overflow-y: scroll;
}

.portfolio-modal-close{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}

.portfolio-modal-title,
.portfolio-modal-description{
    text-align: center;

}

.portfolio-modal-title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

.portfolio-modal-description{
    font-size: var(--small-font-size);
    padding: 0 3.5rem;
    margin-bottom: var(--mb-2);
}


/* active modal */
.active-modal{
    opacity: 1;
    visibility: visible !important;
}

.mySwiper2 {
    width: 95% !important;
    height: 95% !important;
    margin-right: 1.5rem;
    border-radius: 0 !important;
    margin-left: 1rem;
    height: 250px;
    background: var(--container-color);
    background-size: cover;
    justify-self: center !important;
    align-self: center;
} 

.slide-content{
    display: flex;
    align-items: center;
    max-width: 100%;
    align-self: center;
}

.modal-img{
    max-width: 100%;
    object-fit: fill !important;
    height: inherit;
    background-size: cover;
    background-position: center;
}

.portfolio-img:hover + .info-text{
    display: block;
} 

.portfolio-img:hover{
    filter: brightness(50%);
    cursor: pointer;
} 

.info-text{
    position: absolute;
    top: 50%;
    left: 27%;
    transform: translate(-50%, -50%);
    display: none;
    color: (--text-color);
}

.slide-modal{
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: var(--z-modal) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.active-slide-modal{
    opacity: 1;
    visibility: visible;
}

.slide-modal-content{
    width: 95%;
    height: 80%;
    justify-content: center !important;
    align-items: center !important;
    position: relative;
    background-color: var(--container-color);
    padding: 3rem 0.5rem 1rem 0rem !important;
    border-radius: 1rem;
}

.slide-modal-close{
    position: absolute;
    top: 0.25rem !important;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .portfolio-data {
        display: inline-grid;
        flex-direction: row;
        justify-items: center;
        margin-right: 1.5rem;
        overflow-y: scroll;
        max-height: 100%;
        max-width: 100%;
    }

}